body {
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
  /* height: 100%; */
  /* width: 100%; */
}

/* * {box-sizing: border-box;} */

p {
  /* margin: 0 0 1em 0; */
}
#wrapper {
  /* height: 100%; */
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: fill-available;
  border: 5px solid black;
  border-radius: .5em;
  padding: 0px;
}
#header {
  background-color: darkorange;
  height: 40px;
  background-color: white;
  border: 5px solid red;
  border-radius: .5em;
}

#contentWrapper {
  flex: 2;
  background-color: darkgrey;
  background-color: darkgrey;
  border: 5px solid red;
  border-radius: .5em;
}
#footer {
  background-color: darkorange;
  border: 5px solid red;
  border-radius: .5em;
  padding: 0px;
}

#footerLeft {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}
#footerRight {
  float: right;
  margin-right: 5px;
}
