/* todo: consolidate CSS into one file */

body {
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
  /* height: 100%; */
  /* width: 100%; */
  background-color: black;
}


#ma {
  background-color: black;
    color: white;
}


.h1{

}

#formLeft {
    text-align: left;
    padding-left: 35%;
}
