<div id="redeem-account-overview" v-cloak>
  <div class="container">
    <h1>Redeem your account</h1>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Account Details</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Event Name:</div>
      <div class="col"><strong>{{accountToRedeem.eventName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Address:</div>
      <div class="col"><strong>{{accountToRedeem.accountAddress}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">{{accountToRedeem.privateDataTypeLabel}}:</div>
      <div class="col">
        <strong :class="">{{accountToRedeem.privateData}}</strong>
      </div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>How to redeem your account</h4>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <div class="row">
      <div class="col">
        These are the instructions for recovering funds linked to an event you've attended.<br><br>

        1. Choose a link below to download a wallet. This can be a mobile or desktop wallet.<br><br>
        2. Install the wallet and create an account.<br><br>
        3. Take note of the public address of your new wallet account. That address is where the event attendance funds will be sent once you complete this process.<br><br>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <br/>
        <a class="btn btn-sm btn-outline-info account-settings-button" href="/redeem/send">Send Funds</a>
      </div>
    </div>
    <hr/>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
